/* ######### CSS for Shade Tabs. Remove if not using ######### */

.tab_section {
	clear: both;
	width: 600px;
	margin-bottom: 25px;
}

.topnews {
	float: left;
	width: 200px;
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px dotted #CCC;
}
.newslist {
	float: left;
	width: 350px;
}

.newslist ul{
	clear: both;
	margin: 0;
	padding: 0 0 10px 20px;
}
.newslist li {
	padding-bottom: 5px;
}

.newslist li a{
	font-weight: bold;
}

.tabcontent_section {
	clear: both;
	float:left;
	width:580px;
	margin-bottom: 1em;
	padding: 10px;
	border: 1px solid #981b35;
}

.shadetabs{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
position: relative;
z-index: 1;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid #981b35;
color: #FFFFFF;
background: #750a20;
}

.shadetabs li a:visited{
color: #FFFFFF;
}

.shadetabs li a:hover{
text-decoration: underline;
color: #FFFFFF;
}

.shadetabs li a.selected{ /*selected main tab style */
color: #750a20;
position: relative;
top: 1px;
}

.shadetabs li a.selected{ /*selected main tab style */
background-image: url(images/shadeactive.gif);
border-bottom-color: white;
}

.shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}

/* ######### CSS for Inverted Modern Bricks II Tabs. Remove if not using ######### */

.modernbricksmenu2{
padding: 0;
width: 362px;
border-top: 5px solid #D25A0B; /*Brown color theme*/ 
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.modernbricksmenu2 ul{
margin:0;
margin-left: 10px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

.modernbricksmenu2 li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}

.modernbricksmenu2 a{
float: left;
display: block;
font: bold 11px Arial;
color: white;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px;
background-color: black; /*Brown color theme*/ 
border-top: 1px solid white;
}

.modernbricksmenu2 a:hover{
background-color: #D25A0B; /*Brown color theme*/ 
color: white;
}

.modernbricksmenu2 a.selected{ /*currently selected tab*/
background-color: #D25A0B; /*Brown color theme*/ 
color: white;
border-color: #D25A0B; /*Brown color theme*/ 
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}

/* ######### CSS for Indented CSS Tabs. Remove if not using ######### */


.indentmenu{
font: bold 13px Arial;
width: 100%; /*leave this value as is in most cases*/
}

.indentmenu ul{
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/
border-top: 1px solid navy; /*navy border*/
background: black url(indentbg.gif) center center repeat-x;
}

.indentmenu ul li{
display: inline;
}

.indentmenu ul li a{
float: left;
color: white; /*text color*/
padding: 5px 11px;
text-decoration: none;
border-right: 1px solid navy; /*navy divider between menu items*/
}

.indentmenu ul li a:visited{
color: white;
}

.indentmenu ul li a.selected{
color: white !important;
padding-top: 6px; /*shift text down 1px*/
padding-bottom: 4px;
background: black url(indentbg2.gif) center center repeat-x;
}


.tabcontentstyle{ /*style of tab content oontainer*/
border: 1px solid gray;
width: 450px;
margin-bottom: 1em;
padding: 10px;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}
.button1 {
	font-size:16px;
	font-family:"Times New Roman", Times, serif;
	color:#630011;
 
}

.button1:hover .inner {
 opacity: .5;
}

.button1 input {
 display: none;
 
}

.button1 input:checked + .outer .inner {
 opacity: 1;
}

.button1 .outer {
 background: #630011;
 background: -moz-radial-gradient(center, ellipse cover, #630011, #FF2A00 99%);
 background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#630011), color-stop(99%,#FF2A00));
 background: -webkit-radial-gradient(center, ellipse cover, #630011 ,#FF2A00 99%);
 background: -o-radial-gradient(center, ellipse cover, #630011 ,#FF2A00 99%);
 background: -ms-radial-gradient(center, ellipse cover, #630011 ,#FF2A00 99%);
 background: radial-gradient(center, ellipse cover, #630011 ,#FF2A00 99%);
 border: 1px solid #e02727;
 -moz-border-radius: 20px;
 -webkit-border-radius: 20px;
 border-radius: 20px;
 display: block;
 float: left;
 height: 20px;
 margin: 0;
 width: 20px;
}

.button1 .inner {
 background: #FFE0E0;
 background: -moz-radial-gradient(center, ellipse cover, #FFE0E0 0%, #B10404 50%, #B10404 51%, #FB8780 100%);
 background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#FFE0E0), color-stop(50%,#B10404), color-stop(51%,#FFD4D4), color-stop(100%,#2ab0ed));
 background: -webkit-radial-gradient(center, ellipse cover, #FFE0E0 0%,#B10404 50%,#FFD4D4 51%,#FB8780 100%);
 background: -o-radial-gradient(center, ellipse cover, #FFE0E0 0%,#B10404 50%,#B10404 51%,#FB8780 100%);
 background: -ms-radial-gradient(center, ellipse cover, #FFE0E0 0%,#B10404 50%,#B10404 51%,#FB8780 100%);
 background: radial-gradient(center, ellipse cover, #FFE0E0 0%,#B10404 50%,#B10404 51%,#FB8780 100%);
 -moz-border-radius: 20px;
 -webkit-border-radius: 20px;
 border-radius: 20px;
 display: block;
 height: 14px;
 margin: 3px;
 opacity: 0;
 -moz-transition: opacity .5s;
 -webkit-transition: opacity .5s;
 -o-transition: opacity .5s;
 transition: opacity .5s;
 width: 14px;
}