/*
CSS Credit: http://www.templatemo.com/
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #333333;
}
.rightside
{
	margin-left:670px;
	margin-top:-480px;
		broder:1px solid blue;

}
.rightside1
{
	margin-left:670px;
	margin-top:-620px;
		

}
.box
{
-moz-box-shadow: 0 0 5px 5px #96166B;
-webkit-box-shadow: 0 0 5px 5px #96166B;
box-shadow: 0 0 5px 5px #96166B;}

.dd
{
font-family:"Times New Roman", Times, serif;
 border:2px solid #E1E0DB; 
 color:black;
 padding:10px;
 font-size:15px;	
}
a:link, a:visited { color: #750a20; text-decoration: none;} 
a:active, a:hover { color: #FF0000;}
.para
{
height:300px;
width:600px;
text-align:justify;
margin-left:0px;	
}
.aa
{

font-size:12px;
color:#F6214C;
	
}
.s
{
	padding-left:180px;
}

	.new1
{
	
	
	width:600px;
	height:auto;
	
	
	}
	
	.new
{
	float:left;
	width:220px;
	height:220px;
	margin-left:0px;
	margin-top:25px;
	}
	.new2
{
	float:left;
	width:150px;
	height:220px;
	margin-left:0px;
	margin-top:25px;
	}
	
	.srch
	{
	height:250px;
	width:800px;
	background-color:#E1E1E1;
	padding:20px;
	}
.texxt
{
   text-shadow: 4px 4px 4px #F6214C, 0 0 3em #F6214C, 0 0 0.4em #F6214C;
   color: black;
}
#pic
{
position:absolute;	
}
p {
	margin: 0 0 5px 0;
	padding: 0px;
}

h1 {
	margin: 0 0 5px 0;
	padding: 10px 0 10px 0;
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
	color: #750a20;
}

h2 {
	margin: 0 0 10px 0;
	padding: 5px 0;
	font-size: 16px;
	font-weight: bold;
	color:#790049;
}
.hh
{
margin: 0 0 10px 0;
	padding: 5px 0;
	font-size: 16px;
	font-weight: bold;
	color:#790049;
	text-align:center;	
	border: solid 2px #630011;
   box-shadow: 0px 1px 7px 4px #F5E6EB;
	width:980px;
	background-color:#F5E6EB;
	border-radius: 8px 8px 8px 8px;
}
h3 {
	margin: 0 0 5px 0;
	padding: 2px 0;
	font-size: 12px;
	font-weight: bold;
	color: #750a20;
	
}

h4 {
	margin: 0 0 5px 0;
	padding: 2px 0;
	font-size: 16px;
	font-weight: bold;
	color: #750a20;
}

.updatedtime {
	font-size: 10px;
	font-weight: bold;
	color: #FF0000;
}

.view_all a{
	clear: both;
	display: block;
	width: 100%;
	padding: 5px 0 1px 0;
	margin-bottom: 5px; 
	font-weight: bold;
	text-decoration: none;

}

#templatemo_container {
	margin: auto;
	width: 1000px;
	align:right;
}

#templatemo_top_panel {
	align:right;
	
	width: 1000px;
	height: 100px;
	margin: 0px;
	color: #FFF;
	background: #003 url(images1/templatemo_top_panel_background.jpg) no-repeat;
}

#templatemo_sitetitle {
	float: left;
	width: 380px;
	margin: 55px 0 0 15px;
	padding: 10px 0 5px 0;
	font-size: 25px;
	font-weight: bold;
	color: #FFF;
}

#templatemo_searchbox {
	float: right;
	width: 420px;
	margin: 58px 0 0 0px;
	color:#FF7F00;
	font-size: 15px;
}


#searchfield{
	background:#FFFFFF;
	border: none;
	color: #000;
	font-size: 13px;
	font-variant: normal;
	height: 23px;
	line-height: normal;
	padding: 4px;
	width: 200px;
}


#searchbutton{
	background: url(images1/templatemo_search_button.gif); 
	border: none;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	margin: 0 0 0 7px;
	padding: 0 6px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	width: 66px;
}

#templatemo_currentdate {
	float: right;
	width: 300px;
	margin: 70px 15px 0 0;
	text-align: right;
	font-weight: bold;
}

/*------------- Menu ------------------*/
#templatemo_menu {
	float: left;
	width: 1000px;
	height: 30px;
	background: #750a20 url(images1/templatemo_menu_bg.gif) repeat-x;
	border-bottom: 1px solid #333;
}

#templatemo_menu ul {
	float: left;
	width: 800px;
	margin: 0;
	padding: 7px 0 0 0;
	list-style: none;
}

#templatemo_menu ul li{
	display: inline;
}

#templatemo_menu ul li a{
	float: left;
	padding: 0 25px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

#templatemo_menu li a:hover, #templatemo_menu li .current{
	color: #FFFF00;
}

/* end of menu */

/* content */
#templatemo_content {
	float: left;
	width: 1000px;
}

#templatemo_main_leftcol {
	float: left;
	width: 630px;
	margin-top: 15px;
}

.templatemo_leftcol_subcol {
	float: left;
	width: 285px;
	padding: 0 15px 0 0;
	margin-right: 15px;
}

#templatemo_main_rightcol {
	float: right;
	margin-top: 15px;
	width: 370px;	
	border-color:black;	
}

* html #templatemo_main_rightcol {
	margin-left: -15px;		
}

#templatemo_topnews {
	display: block;
	padding-bottom: 10px;
	
	margin-left:17px;
	margin-top:0px;
	height:500px;
	width:600px;
	
}

#templatemo_topnews img{
	margin-bottom: 5px;
	
}

#templatemo_gallery_section {
	display: block;
	width: 278px;
	padding: 5px 0 5px 5px;
	margin-bottom: 25px;
	border: 1px solid #CCC;
}

#image_section {
	float: left;
	width: 278px;	
	padding-bottom: 5px;
}

#image_section img{
	float: left;
	margin: 0 3px 3px 0;
	border: none;
}

.regular_section {
	display: block;
	width: 285px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	
}
.des
{
color: #8080AB;	
}

.newsbox {
	
	width: 130px;
	padding-bottom: 15px;
	
	height:100px;
	
}
.newsbox1 {
	
	width: 220px;
	padding-bottom: 15px;
	height:220;
	
	
}
.newsboxx {
	
	width: 200px;
	padding-bottom: 15px;
	height:140;
	
}
.newsboxx img{
	float: left;
	margin-top:-300px;
	padding: 0px;
	border-radius:25px;
	box-shadow:3px 4px 5px #790049;
	 
}
.padding
{
padding-left:330px;	
}
.phpcode
{
	width:600px;
	
}
.vd
{
height:auto;
width:100px;	


}

.newsbox1 img{
	float: left;
	margin: 0 5px 0 0;
	padding: 0px;
	border-radius:25px;
	box-shadow:3px 4px 5px #790049;
	 
}

.newsbox img{
	float: left;
	margin: 0 5px 0 0;
	padding: 0px;
	border-radius:25px;
	box-shadow:3px 4px 5px #790049;
	 
}

.newsbox .newstitle {
	font-size: 16px;
	color:#C00;
	font-weight: bold;
}
.newsbox1 .newstitle {
	font-size: 16px;
	color:#C00;
	font-weight: bold;
}

.newsbox p{
	font-size: 11px;
}
.newsbox1 p{
	font-size: 11px;
}

.regular_section ul{
	clear: both;
	margin: 0 0 10px 0;
	padding: 0 0 0 20px;
}

.regular_section li a{
	font-weight: bold;
}

.regular_section li a:hover{
	text-decoration: underline;
}

.templatemo_leftcol_fullrow {
	clear: both;
	float: left;
	width: 600px;
	padding: 10px 0 0 10px;
	border: 1px solid #CCC;
	margin-bottom: 25px;
	
}

.templatemo_rcol_sectionwithborder {
	display: block;
	width: 368px;
	border: 1px solid #CCC;
	margin-bottom: 25px;	
}

#templatemo_video_section {
	display: block;
	width: 358px;
	height:280px;
	margin-top: 5px;	
	margin-left: 10px;
	
}

* html #templatemo_video_section {
	margin-left: 5px;
	
}

#templatemo_video_section .video_box {
	float: left;
	width: 106px;
	margin: 0 10px 10px 0;
	
}

#templatemo_video_section .video_box img{
	margin: 0 0 5px 0;
	border-radius:25px;
	 box-shadow:3px 4px 5px #790049;
}


#templatemo_video_section .video_box a{
	font-size: 10px;
	font-weight: bold;
	
}
#box
{
	font-size: 16px;
	color:#FF0000;
	font-weight: bold;
}
	
	.bb
	{

	border-radius:25px;
	 box-shadow:3px 4px 5px #790049;
	 width:100px;
	 height:100px;	
	}
	
.sldr
{
	
border:1px solid orange;
width:600px;
height:300px;	
}
#templatemo_video_section .video_box a span{
	color: #FF0000;
	font-size: 10px;
	font-weight: bold;
	
}

#templatemo_newsletter_section {
	width: 348px;
	margin: 20px;
	height:150px;
	
}

#templatemo_newsletter_section  form {
	margin: 0 30px 0 0;
	text-align: right;
	
}

#templatemo_newsletter_section  select {
	width: 200px;
	height: 25px;
	padding: 2px 0;
	margin: 0px;
	
}

#templatemo_newsletter_section .form_row{
	padding: 3px 0px;
}


#templatemo_newsletter_section label {
	margin-right: 10px;
	
}

#templatemo_newsletter_section input{
	width: 195px;
	height: 23px;
}

#templatemo_newsletter_section .button{
	height: 37px;
	width: 80px;
	font-size: 16px;
    font-family: Times New Roman;
    font-weight: bold;
    font-style: italic;
    text-decoration: inherit;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
	border: 1px solid #dcdcdc;
    padding: 9px 18px;
    text-shadow: 1px 1px 0px #ffffff;
    -webkit-box-shadow: inset 1px 1px 0px 0px #ffffff;
	-moz-box-shadow: inset 1px 1px 0px 0px #ffffff;
    box-shadow: inset 1px 1px 0px 0px #ffffff;
    cursor: pointer;
    color: #666666;
    display: inline-block;
    background: -webkit-linear-gradient(90deg, #e9e9e9 5%, #f9f9f9 100%);
    background: -moz-linear-gradient(90deg, #e9e9e9 5%, #f9f9f9 100%);
    background: -ms-linear-gradient(90deg, #e9e9e9 5%, #f9f9f9 100%);
    background: linear-gradient(180deg, #f9f9f9 5%, #e9e9e9 100%);
}
.bbtn
{
	
	height: 37px;
	width: 88px;
	font-size: 16px;
    font-family: Times New Roman;
    font-weight: bold;
    font-style: italic;
    text-decoration: inherit;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
	border: 1px solid #dcdcdc;
    padding: 9px 18px;
    text-shadow: 1px 1px 0px #ffffff;
    -webkit-box-shadow: inset 1px 1px 0px 0px #ffffff;
	-moz-box-shadow: inset 1px 1px 0px 0px #ffffff;
    box-shadow: inset 1px 1px 0px 0px #ffffff;
    cursor: pointer;
    color: #666666;
    display: inline-block;
    background: -webkit-linear-gradient(90deg, #e9e9e9 5%, #f9f9f9 100%);
    background: -moz-linear-gradient(90deg, #e9e9e9 5%, #f9f9f9 100%);
    background: -ms-linear-gradient(90deg, #e9e9e9 5%, #f9f9f9 100%);
    background: linear-gradient(180deg, #f9f9f9 5%, #e9e9e9 100%);
}
#templatemo_blog_section {
	width: 348px;
	margin: 10px;
}

#templatemo_blog_section .blog_box {
	padding-bottom: 5px;
	margin-bottom: 5px;

}

#templatemo_blog_section .datetime{
	font-weight: bold;
}

#templatemo_poll_section {
	width: 348px;
	margin: 10px;
}

#templatemo_poll_section p{
	padding-bottom: 10px;
}


#templatemo_poll_section img{
	float: right;
}

#templatemo_poll_section .button{
	height: 25px;
	width: 50px;
	margin-right: 25px;
}

#templatemo_partner_section {
	width: 348px;
	margin: 10px;
}

.partner_box {
	width: 348px;
	padding: 0px;
	margin-bottom: 25px;
}

.partner_box p{
	clear: both;
}



/* ----- Footer ----- */
#templatemo_footer {
	clear: both;
	float: left;
	padding: 25px;
	width: 950px;
	color: #FFF;
	text-align: left;
	background: #333333;
}
.yy
{
	background-color:#F5E6EB;
	 border-radius: 8px 8px 8px 8px;
	
}
.footer_leftcol {
	float: left;
	width: 400px;
	padding: 0 0 0 10px;
	margin-right: 25px;
}

.footer_rightcol {
	float: right;
	text-align: right;
	width: 435px;
	text-align: right;
}

.footer_subcol {
	float: left;
	width: 120px;
	margin-left: 25px;
}

#templatemo_footer p{
	padding: 0;
	margin-bottom: 10px;	
	text-align: justify;
}

#templatemo_footer a{
	color: #FFF;
	text-decoration: none;
}

#templatemo_footer a:hover{
	color: #FFF;
	text-decoration: underline;
}
.inpBox
{
margin-top:10px;
margin-left:15px;
margin-bottom::10px;

}
.inpBoxError
{
	border: solid 2px  red;
}
.ttb
{
border:2px solid red;	
}

.css_button {
    font-size: 16px;
    font-family: Times New Roman;
    font-weight: bold;
    font-style: italic;
    text-decoration: inherit;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 9px 18px;
    text-shadow: 1px 1px 0px #ffffff;
    -webkit-box-shadow: inset 1px 1px 0px 0px #ffffff;
    -moz-box-shadow: inset 1px 1px 0px 0px #ffffff;
    box-shadow: inset 1px 1px 0px 0px #ffffff;
    cursor: pointer;
    color: #666666;
    display: inline-block;
    background: -webkit-linear-gradient(90deg, #e9e9e9 5%, #f9f9f9 100%);
    background: -moz-linear-gradient(90deg, #e9e9e9 5%, #f9f9f9 100%);
    background: -ms-linear-gradient(90deg, #e9e9e9 5%, #f9f9f9 100%);
    background: linear-gradient(180deg, #f9f9f9 5%, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9f9f9",endColorstr="#e9e9e9");
}

.css_button:hover {
    background: -webkit-linear-gradient(90deg, #f9f9f9 5%, #e9e9e9 100%);
    background: -moz-linear-gradient(90deg, #f9f9f9 5%, #e9e9e9 100%);
    background: -ms-linear-gradient(90deg, #f9f9f9 5%, #e9e9e9 100%);
    background: linear-gradient(180deg, #e9e9e9 5%, #f9f9f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9e9e9",endColorstr="#f9f9f9");
}

.css_button:active {
    position:relative;
    top: 1px;
}
.textox {
   width: 230px;
   height: 45px;
   font-family: Times New Roman;
   border: solid 5px #630011;
   box-shadow: 0px 1px 7px 4px #F5E6EB;
   padding: 8px;
   border-radius: 13px;
   font-size: 18px;
   
   background-color: #FFFFFF;
   outline: none;
   color: #474747;
   text-transform: capitalize;
  }
.textox:hover  {
   border: 5px solid #990F82;
    width: 230px;
   height: 45px;
  }
.textox:focus  {
    width: 230px;
   height: 45px;
   border: solid 5px #D1482A;
   text-shadow: 1px 1px 9px #5E5E5E;
  }
.textox:active  {
   border: solid 2px #108F7E;
   text-shadow: 1px 1px 0px #5E5E5E;
    width: 230px;
   height: 45px;
  }

.y
{
	color:#630011;
	height:30px;
	font-weight: bold;
	font-family: Times New Roman;
}

#footer{
	background-color: #630011;
	border-top: 2px solid #404345;
	border-radius: 8px 8px 8px 8px;
	float: left;
	margin: 0 auto;
	padding: 8px 20px;
	text-shadow: #111111 0px 1px 1px;
	width: 950px;
}
#footer a{
	color: #630011;
	font-weight: bold;
}
#comt
{
width:600px;
height:140px;
margin-right:400px;
margin-left:235px;	
margin-top:-100px;

	
}

/* ----- End of Footer ----- */