/*
CSS Credit: http://www.templatemo.com/
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #333333;
}

a:link, a:visited { color: #750a20; text-decoration: none;} 
a:active, a:hover { color: #FF0000;}

p {
	margin: 0 0 5px 0;
	padding: 0px;
}

h1 {
	margin: 0 0 5px 0;
	padding: 10px 0 10px 0;
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
	color: #750a20;
}

h2 {
	margin: 0 0 10px 0;
	padding: 5px 0;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
}

h3 {
	margin: 0 0 5px 0;
	padding: 2px 0;
	font-size: 12px;
	font-weight: bold;
	color: #750a20;
}

h4 {
	margin: 0 0 5px 0;
	padding: 2px 0;
	font-size: 16px;
	font-weight: bold;
	color: #750a20;
}

.updatedtime {
	font-size: 10px;
	font-weight: bold;
	color: #FF0000;
}

.view_all a{
	clear: both;
	display: block;
	width: 100%;
	padding: 5px 0 1px 0;
	margin-bottom: 5px; 
	font-weight: bold;
	text-decoration: none;
	border-top: 1px dotted #CCC;
}

#templatemo_container {
	margin: auto;
	width: 1000px;
	align:right;
}

#templatemo_top_panel {
	align:right;
	
	width: 1000px;
	height: 100px;
	margin: 0px;
	color: #FFF;
	background: #003 url(images1/templatemo_top_panel_background.jpg) no-repeat;
}

#templatemo_sitetitle {
	float: left;
	width: 380px;
	margin: 55px 0 0 15px;
	padding: 10px 0 5px 0;
	font-size: 35px;
	font-weight: bold;
	color: #FFF;
}

#templatemo_searchbox {
	float: right;
	width: 420px;
	margin: 58px 0 0 0px;
	color:#FF7F00;
	font-size: 15px;
}


#searchfield{
	background:#FFFFFF;
	border: none;
	color: #000;
	font-size: 13px;
	font-variant: normal;
	height: 23px;
	line-height: normal;
	padding: 4px;
	width: 200px;
}


#searchbutton{
	background: url(images1/templatemo_search_button.gif); 
	border: none;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	margin: 0 0 0 7px;
	padding: 0 6px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	width: 66px;
}

#templatemo_currentdate {
	float: right;
	width: 300px;
	margin: 70px 15px 0 0;
	text-align: right;
	font-weight: bold;
}

/*------------- Menu ------------------*/
#templatemo_menu {
	float: left;
	width: 1000px;
	height: 30px;
	background: #750a20 url(images1/templatemo_menu_bg.gif) repeat-x;
	border-bottom: 1px solid #333;
}

#templatemo_menu ul {
	float: left;
	width: 800px;
	margin: 0;
	padding: 7px 0 0 0;
	list-style: none;
}

#templatemo_menu ul li{
	display: inline;
}

#templatemo_menu ul li a{
	float: left;
	padding: 0 25px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

#templatemo_menu li a:hover, #templatemo_menu li .current{
	color: #FFFF00;
}

/* end of menu */

/* content */
#templatemo_content {
	float: left;
	width: 1000px;
}

#templatemo_main_leftcol {
	float: left;
	width: 630px;
	margin-top: 15px;
}

.templatemo_leftcol_subcol {
	float: left;
	width: 285px;
	padding: 0 15px 0 0;
	margin-right: 15px;
}

#templatemo_main_rightcol {
	float: right;
	margin-top: 15px;
	width: 370px;
}

* html #templatemo_main_rightcol {
	margin-left: -15px;	
}

#templatemo_topnews {
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #cccccc;
}

#templatemo_topnews img{
	margin-bottom: 5px;
}

#templatemo_gallery_section {
	display: block;
	width: 278px;
	padding: 5px 0 5px 5px;
	margin-bottom: 25px;
	border: 1px solid #CCC;
}

#image_section {
	float: left;
	width: 278px;	
	padding-bottom: 5px;
}

#image_section img{
	float: left;
	margin: 0 3px 3px 0;
	border: none;
}

.regular_section {
	display: block;
	width: 285px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: 1px dotted #CCC;
}

.newsbox {
	clear: both;
	width: 285px;
	padding-bottom: 15px;
}


.newsbox img{
	float: left;
	margin: 0 5px 0 0;
	padding: 0px;
}

.newsbox .newstitle {
	font-size: 16px;
	color:#C00;
	font-weight: bold;
}

.newsbox p{
	font-size: 11px;
}

.regular_section ul{
	clear: both;
	margin: 0 0 10px 0;
	padding: 0 0 0 20px;
}

.regular_section li a{
	font-weight: bold;
}

.regular_section li a:hover{
	text-decoration: underline;
}

.templatemo_leftcol_fullrow {
	clear: both;
	float: left;
	width: 600px;
	padding: 10px 0 0 10px;
	border: 1px solid #CCC;
	margin-bottom: 25px;
	
}

.templatemo_rcol_sectionwithborder {
	display: block;
	width: 368px;
	border: 1px solid #CCC;
	margin-bottom: 25px;	
}

#templatemo_video_section {
	display: block;
	width: 358px;
	margin-top: 10px;	
	margin-left: 10px;
}

* html #templatemo_video_section {
	margin-left: 5px;
}

#templatemo_video_section .video_box {
	float: left;
	width: 106px;
	margin: 0 10px 10px 0;
}

#templatemo_video_section .video_box img{
	margin: 0 0 5px 0;
}

#templatemo_video_section .video_box a{
	font-size: 10px;
	font-weight: bold;
}

#templatemo_video_section .video_box a span{
	color: #FF0000;
	font-size: 10px;
	font-weight: bold;
}

#templatemo_newsletter_section {
	width: 348px;
	margin: 20px;
	height:150px;
}

#templatemo_newsletter_section  form {
	margin: 0 30px 0 0;
	text-align: right;
}

#templatemo_newsletter_section  select {
	width: 200px;
	height: 25px;
	padding: 2px 0;
	margin: 0px;
}

#templatemo_newsletter_section .form_row{
	padding: 3px 0px;
}


#templatemo_newsletter_section label {
	margin-right: 10px;
	
}

#templatemo_newsletter_section input{
	width: 195px;
	height: 23px;
}

#templatemo_newsletter_section .button{
	height: 25px;
	width: 80px;
}

#templatemo_blog_section {
	width: 348px;
	margin: 10px;
}

#templatemo_blog_section .blog_box {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dotted #CCC;
}

#templatemo_blog_section .datetime{
	font-weight: bold;
}

#templatemo_poll_section {
	width: 348px;
	margin: 10px;
}

#templatemo_poll_section p{
	padding-bottom: 10px;
}


#templatemo_poll_section img{
	float: right;
}

#templatemo_poll_section .button{
	height: 25px;
	width: 50px;
	margin-right: 25px;
}

#templatemo_partner_section {
	width: 348px;
	margin: 10px;
}

.partner_box {
	width: 348px;
	padding: 0px;
	margin-bottom: 25px;
}

.partner_box p{
	clear: both;
}



/* ----- Footer ----- */
#templatemo_footer {
	clear: both;
	float: left;
	padding: 25px;
	width: 950px;
	color: #FFF;
	text-align: left;
	background: #333333;
}

.footer_leftcol {
	float: left;
	width: 400px;
	padding: 0 0 0 10px;
	margin-right: 25px;
}

.footer_rightcol {
	float: right;
	text-align: right;
	width: 435px;
	text-align: right;
}

.footer_subcol {
	float: left;
	width: 120px;
	margin-left: 25px;
}

#templatemo_footer p{
	padding: 0;
	margin-bottom: 10px;	
	text-align: justify;
}

#templatemo_footer a{
	color: #FFF;
	text-decoration: none;
}

#templatemo_footer a:hover{
	color: #FFF;
	text-decoration: underline;
}
.inpBox
{
	
	
}
.inpBoxError
{
	border: solid 2px  red;
}

/* ----- End of Footer ----- */